<ion-content>

   <div>
        <ion-grid fixed>
            <ion-row>
                <h3>Recent Movies</h3>
            </ion-row>
        </ion-grid>
        <div><app-backdrop-slider  [movies]="movies"></app-backdrop-slider></div>
   </div>




    <div>
        <ion-grid fixed>
            <ion-row>
                <h3>Movie listings</h3>
            </ion-row>
        </ion-grid>
    
        
        <div><app-poster-slider [movies]="movies"></app-poster-slider></div>
    </div>

    <div>
        <ion-grid fixed>
            <ion-row>
                <h3>Popular</h3>
            </ion-row>
        </ion-grid>
    
        
        <div><app-poster-double-slider (addMoreMoviesEmitter)="loadMorePopularMovies()" [movies]="popularMovies"></app-poster-double-slider></div>
    </div>


</ion-content>
